@model IEnumerable<ExamenFinalEnunciadoD.Models.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empleado_Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado_Nombre_Completo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado_CI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado_Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado_Nombre_Completo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado_CI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Empleado_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Empleado_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Empleado_Id })
        </td>
    </tr>
}

</table>
