@model LP1TP.Models.Estudiante

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle</h2>

<div class="row">
    <h4>Estudiante</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="col-md-3">
        @Html.LabelFor(model => model.Persona.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Persona.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-3">
        @Html.LabelFor(model => model.Persona.Edad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Persona.Edad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.Edad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-3">
        @Html.LabelFor(model => model.Persona.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Persona.Direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.Direccion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-3">
        @Html.LabelFor(model => model.Persona.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Persona.Correo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Persona.Correo, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        @Html.Label("Ciudad", htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.DropDownList("Ciudad_Id", new SelectList(ViewBag.Ciudades, "Ciudad_Id", "Ciudad_Codigo", Model.Persona.Ciudad_Id), "Seleccione Pais", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Persona.Ciudad_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-3">
        @Html.Label("Pais", htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.DropDownList("Pais_Id", new SelectList(ViewBag.Pais, "Pais_Id", "Pais_Codigo", Model.Persona.Pais_Id), "Seleccione Pais", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Persona.Pais_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>

<div class="form-horizontal">

    <div class="row">
        <div class="col-md-12">
            <h4><strong> Detalle Alumno</strong></h4>
      
            <hr />
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>

                        <th>Carrera</th>
                        <th>Curso</th>
                        <th>Anho</th>
   
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.EstudianteGrado != null && Model.EstudianteGrado.Count > 0)
                    {
                        var index = 0;
                        foreach (var item in Model.EstudianteGrado)
                        {
                            <tr>
                                <td style="width:30%">@Html.DropDownList("EstudianteGrado[" + index + "].Carrera_Id", new SelectList(ViewBag.Carreras, "Carrera_Id", "Carrera_Codigo", item.Carrera_Id), new { @class = "form-control" })</td>
                                <td style="width:30%">@Html.DropDownList("EstudianteGrado[" + index + "].Curso_Id", new SelectList(ViewBag.Cursos, "Curso_Id", "Curso_Codigo", item.Curso_Id), new { @class = "form-control" })</td>
                                <td>@Html.TextBox("EstudianteGrado[" + index + "].Anho", item.Anho, new { @class = "form-control" })</td>
                             
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Estudiante_Id }) |
    @Html.ActionLink("Volver a Lista", "Index")
</p>
